<% if question.best_answer_id.nil? %>
<div class="col-md-1 offset-md-1">
 <%= attachment_image_tag member, :image, size:"50x50", fallback:"no_image_icon.jpg"%><br>
</div>
<div class="col-md-10">
 <div class="answer-box summernote">
   <%= form_with model: [question, answer], local: true do |f| %>
   <%= render "layouts/error_messages", resource: answer %>
    <%= f.text_area :content, class:"w-100", rows:"5", 'data-provider1': :summernote %>
    <%= f.submit "回答する", class:"btn btn-primary text-items-center w-100 mt-3" %>
   <% end %>
 </div>
</div>
<% end %>