<% answer.responses.each do |response| %>
  <div class="col-md-10 offset-md-2">
    <%= attachment_image_tag response.member, :image, size:"30x30", fallback:"no_image_icon.jpg"%>
    <%= response.member.name %>
    <%= response.created_at.strftime('%Y/%m/%d') %>
    <%= response.content %>
    <% if response.member == current_member && member_signed_in? %>
    <%= link_to "削除する", answer_response_path(response.answer, response), method: :delete, class:"btn btn-danger mr-2", "data-confirm" => "削除してよろしいでしょうか？", remote: true %>
    <% end %>
     <div class="mt-2 mb-4 bottom-line border border-blck"></div>
  </div>
<% end %>