<% questions.each do |question| %>
  <div class="question-box mt-3 mb-3 pt-2 w-100 d-flex border rounded">
    <div class="col-2 col-md-2 col-sm-2 text-center ">
      <% if question.question_status == false %>
        <p class="btn-info font-weight-bold w-75 mx-auto">受付中</p>
      <% else %>
        <p class="btn-danger font-weight-bold w-75 mx-auto">解決済み</p>
      <% end %>
      <h4>回答<br /><%= question.answers.count %></h4>
    </div>
    <div class="col-md-10">
      <div class="row">
        <%= link_to question_path(question), style:"color:#117ec6;", class:"link-text" do %>
          <h3 class="font-weight-bold"><%= question.title %></h3>
        <% end %>
      </div>
      <div class="row">
        <% question.tags.each do |tag| %>
          <%= link_to tag_path(tag) do %>
            <p class="btn btn-outline-primary", style="font-size:5px;"><%= tag.name %></p>
          <% end %>
        <% end %>
      </div>
      <div class="row d-flex">
        <p>評価: <%= question.question_likes.count %></p>
        <%= link_to member_path(question.member_id), class:"link-text" do %>
          <span><%= attachment_image_tag question.member, :image, size:"30x30", fallback:"no_image_icon.jpg"%> | <%= question.member.name %>
        <% end %>
        | <%= question.created_at.strftime('%Y/%m/%d') %>
        </span>
      </div>
    </div>
  </div>
<% end %>