<% questions.each do |question| %>
  <div class="question-box mt-3 mb-3 pt-2 w-100 d-flex border rounded">
    <div class="col-2 col-md-2 col-sm-2 text-center pt-2">
      <% if question.best_answer_id.nil? %>
        <p class="btn-info font-weight-bold w-75 mx-auto small">受付中</p>
      <% else %>
        <p class="btn-danger font-weight-bold w-75 mx-auto small">解決済み</p>
      <% end %>
      <div class="border rounded pt-2">
        <h4>回答<br /><%= question.answers.count %></h4>
      </div>
    </div>
    <div class="col-md-10">
      <div class="row pt-2">
        <%= link_to question_path(question), style:"color:#117ec6;", class:"link-text" do %>
          <h2 class="font-weight-bold"><%= question.title %></h2>
        <% end %>
      </div>
      <div class="row">
        <% if question.tags.any? %>
          <% question.tags.each do |tag| %>
            <%= link_to tag_path(tag) do %>
              <p class="btn btn-outline-primary ml-2", style="font-size:5px;"><%= tag.name %></p>
            <% end %>
          <% end %>
          <% else %>
          <div class="no-tag-box"></div>
        <% end %>
      </div>
      <div class="row d-flex pt-3 small">
        <div>
        <p class="mt-3">評価: <%=question.question_likes.count %></p>
        </div>
        <div class="ml-auto pr-1">
        <%= link_to member_path(question.member_id), class:"link-text ml-auto " do %>
          <span class="mt-3"><%= attachment_image_tag question.member, :image, size:"25x25", fallback:"no_image_icon.jpg"%></span>
          <span class="mt-5 small"><%= question.member.name %></span>
        <% end %>
        <p class="ml-1 mr-1 small text-right"><%= question.created_at.strftime('%Y/%m/%d') %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>