<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v10.0&appId=293894848767923&autoLogAppEvents=1" nonce="528PwJN9"></script>
<script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script>

<div class="container">
  <div class= "row">
    <div class="col-md-9 pt-5">
      <div class="d-flex">
        <% if question.best_answer_id.nil? %>
          <p class="btn-info font-weight-bold mt-3 mr-3", style="font-size:20px">受付中</p>
        <% else %>
          <p class="btn-danger font-weight-bold mt-3 mr-3">解決済み</p>
        <% end %>
        <h1 class="font-weight-bold pt-2"><%= question.title %></h1>
      </div>
      <div class="mb-3 mt-2">
        <span>投稿日:<%= question.created_at.strftime('%Y/%m/%d %H:%M') %></span>
        <span>更新日:<%= question.updated_at.strftime('%Y/%m/%d %H:%M') %></span>
      </div>
      <% question.tags.each do |tag| %>
        <%= link_to tag_path(tag) do %>
          <p class="btn btn-outline-primary ml-1", style="font-size:2px;"><%= tag.name %></p>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-3 pt-5">
      <div class="text-center">
        <p class="col-sm-3 btn btn-light"><i class="fas fa-comment-dots"> <%= question.answers.count %></i></p>
        <p class="col-sm-3 btn btn-light"><i class="fas fa-thumbs-up"> <%= question.question_likes.count %></i></p>
        <p class="col-sm-3 btn btn-light"><i class="fas fa-eye"> <%= question.impressionist_count(:filter=>:session_hash) %></i></p>
        <%= social_share_button_tag(question.title) %>
      </div>
      <div class="mt-4 mb-5 text-center">
        <p class="font-weight-bold">
          <%= attachment_image_tag question.member, :image, size:"30x30", class:"rounded", fallback:"no_image_icon.jpg"%> <%= question.member.name %> | score: <%= question.member.total_likes(question.member) %></p>
      </div>
    </div>
  </div>
</div>