<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1 mt-5 mb-5">
    <h2>投稿編集</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 offset-md-1 mb-5">
      <%= form_with model: @question, local: true do |f| %>
        <div class="form-group">
          <%= f.label :タイトル %>
          <%= f.text_field :title, placeholder: "タイトルを記入しましょう。", class:"form-control w-100" %>
        </div>
        <div class="form-group">
          <%= f.label :タグ %>
                <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name, class:"form-control", prompt:"この中からタグを1つ選んでください。", mutiple: true %>

        </div>
        <div class="form-group">
          <%= f.label :質問内容 %>
          <%= f.text_area :content, placeholder: "質問したい内容を記入しよう", class:"form-control w-100", rows: 10, 'data-provider': :summernote%>
        </div>
        <div class="form-action">
          <%= f.submit "変更する", class:"btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
</div>