<div class="row mx-auto">
  <div class="question-title w-100 pt-3 pb-3 border border-black-3">
    <span class="root-link "><%= link_to "Answer.lyトップ", tag_path(tag) %></span>
  </div>
</div>
<div class="question-title">
  <%= render "public/questions/title", question: @question %>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-7 mt-5 mb-5 offset-md-1">

      <!--質問内容表示-->
      <div>
        <%= render "public/questions/show", question: @question %>
      </div>
      <div class="mt-2 bottom-line border border-blck"></div>
      <!--ここまで-->

　　　<!--回答一覧/フォーム表示 + コメント一覧/フォーム-->
      <div class="mt-2", id="answer">
        <h3>回答: <%= @question.answers.count %>件</h3>
        <div class="answers-box">
        <% if @question.answers.exists? %>
          <% @question.answers.each do |answer| %>
            <%= render "public/answers/list", response: @response, answer: answer %>
          <% end %>
        <% else %>
          <div class="mt-5 mb-5 rounded">
            <div class="row">
              <div class="col-md-2">
              </div>
              <div class="col-md-7">
                <div class="no-answers-box">
                  <p class="font-weight-bold">まだ回答がありません。</p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        </div>
        <div class="row mt-5">
          <%= render "public/answers/new", question: @question, member: @member , answer: @answer %>
        </div>
　　  </div>
      <!--ここまで-->

    </div>

    <!--タグ一覧表示-->
    <div class="col-md-3">
      <div class="tag-index mb-5">
        <%= render "public/tags/list", tags: @tags %>
      </div>

      <div class="ranking-index mb-5">
       <%= render "public/members/list", members: @members %>
     </div>
    </div>
    　<!--ここまで-->

  </div>

</div>


