<div class="row mx-auto mb-5">
  <div class="col-md-12">
    <h4 class="mt-5 mb-5 font-weight-bold"><%= @member.name%> の フォロー・フォロワー一覧</h4>
    <ul class="text-center nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item w-50 bg-light">
        <a class="nav-link active link-text" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">フォロー</a>
      </li>
      <li class="nav-item w-50 bg-light">
        <a class="nav-link link-text" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">フォロワー</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="ml-1 mt-3 mb-2">全フォロー数: <%= @member.follower.count %>人</div>
        <% if @member.following_member.any? %>
          <% @member.following_member.each do |member| %>
            <div class="d-flex border rounded mx-auto mt-3 pt-2 pb-2">
              <div class="col-md-2 border-right pr-0">
              <%= link_to member_path(member), class:"link-text d-flex align-items-center" do %>
                <div class="mt-3 mb-3"><%= attachment_image_tag member, :image, size:"30x30", fallback:"no_image_icon.jpg"%></div>
                <div class="ml-3"><%= member.name%></div>
               <% end %>
              </div>
              <div class="col-md-3 border-right d-flex text-center">
                <div class="col-md-6 mt-3 mb-3 border-right">
                  <p class="small border border-primary rounded">フォロー</p></p>
                  <h5><%= member.follower.count %></h5>
                </div>
                <div class="col-md-6 ml-2 mt-3 mb-3">
                  <p class="small border border-primary rounded">フォロワー</p>
                  <h5><%= member.followed.count %></h5>
                </div>
              </div>
              <div class="col-md-3 border-right d-flex text-center">
                <div class="col-md-6 mt-3 mb-3 border-right">
                  <p><%= image_tag 'q_icon.png', size: "25x30" %></p>
                  <h5><%= member.questions.count %></h5>
                </div>
                <div class="col-md-6 mt-3 mb-3">
                  <p><%= image_tag 'a_icon.png', size: "25x30" %></p>
                  <h5><%= member.answers.count %></h5>
                </div>
              </div>
              <div class="col-md-2 border-right d-flex", id="follow-button_<%= member.id %>">
                <% if member_signed_in? %>
                  <% if current_member.id == member.id %>
                    <%= link_to "プロフィールへ", member_path(member), method: :get, class:"btn btn-outline-secondary mt-3", style:"width:100%; height:50%;" %>
                  <% else %>
                    <% if current_member.following?(member) %>
                      <%= link_to '解除', unfollow_path(member), method: :post, remote: true, class:"btn btn-danger mt-3", style:"width:100%; height:50%;" %>
                    <% else %>
                      <%= link_to "フォロー", follow_path(member), method: :post, remote: true, class:"btn btn-primary mt-3", style:"width:100%; height:50%;" %>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% else %>
          <div>
            <p>ユーザーをフォロしてみよう！</p>
          </div>
        <% end %>
      </div>
      <div class="mb-5 tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="ml-1 mt-5 mb-2">全フォロワー数: <%= @member.followed.count %>人</div>
        <% if @member.follower_member.any? %>
          <% @member.follower_member.each do |member| %>
            <div class="d-flex border rounded mx-auto mt-3 pt-2 pb-2">
              <div class="col-md-3 border-right">
              <%= link_to member_path(member), class:"link-text d-flex align-items-center" do %>
                <div class="mt-3 mb-3"><%= attachment_image_tag member, :image, size:"60x60", fallback:"no_image_icon.jpg"%></div>
                <div class="ml-3"><%= member.name%></div>
               <% end %>
              </div>
              <div class="col-md-3 border-right d-flex text-center">
                <div class="col-md-6 mt-3 mb-3 border-right">
                  <p class="small border border-primary rounded">フォロー</p></p>
                  <h5><%= member.follower.count %></h5>
                </div>
                <div class="col-md-6 ml-2 mt-3 mb-3">
                  <p class="small border border-primary rounded">フォロワー</p>
                  <h5><%= member.followed.count %></h5>
                </div>
              </div>
              <div class="col-md-3 border-right d-flex text-center">
                <div class="col-md-6 mt-3 mb-3 border-right">
                  <p><%= image_tag 'q_icon.png', size: "25x30" %></p>
                  <h5><%= member.questions.count %></h5>
                </div>
                <div class="col-md-6 mt-3 mb-3">
                  <p><%= image_tag 'a_icon.png', size: "25x30" %></p>
                  <h5><%= member.answers.count %></h5>
                </div>
              </div>
              <div class="col-md-2 border-right d-flex", id="follow-button_<%= member.id %>">
                <% if member_signed_in? %>
                <% if current_member.id == member.id %>
                  <%= link_to "プロフィールへ", member_path(member), method: :get, class:"btn btn-outline-secondary mt-3", style:"width:100%; height:50%;" %>
                <% else %>
                  <% if current_member.following?(member) %>
                    <%= link_to 'フォロー外す', unfollow_path(member), method: :post, remote: true, class:"btn btn-danger mt-3", style:"width:100%; height:50%;" %>
                  <% else %>
                    <%= link_to "フォローする", follow_path(member), method: :post, remote: true,  class:"btn btn-primary mt-3", style:"width:100%; height:50%;" %>
                  <% end %>
                <% end %>
              <% end %>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class="col-md-12 oddset-md-1 mt-5 text-center">
            <h3>ユーザーをフォローしてみよう！</h3>
            <%= link_to "ユーザー一覧へ", members_path, class:"btn btn-info"%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>