<div class="d-flex">

  <!--プロフィール詳細画面-->
  <div class="col-md-2 mt-5 mb-5 pt-3 pb-3 offset-md-1 border rounded">
    <%= render "public/members/profile", member: @member, total_likes: @total_likes %>
  </div>
  <!--ここまで-->

　<!--メンバー投稿・回答一覧-->
  <div class="col-md-8 mt-5 mb-5 pt-1 ml-3">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active link-text w-50 text-center" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">
          <span>質問</span><br>
          <span class="large"><%= @member.questions.count %></span>
        </a>
        <a class="nav-item nav-link link-text w-50 text-center" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">
          <span>回答</span><br>
          <span><%= @member.answers.count %></span>
        </a>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active bg-light " id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="ml-1 pt-3 pb-2">質問: <%= @member.questions.count %>件</div>
        <% @member.questions.each do |question| %>
          <div class="d-flex border rounded mt-3 ml-3 mr-3 mb-3 pt-1 bg-white ">
            <div class="col-md-2 mt-2 text-center">
              <% if question.best_answer_id.nil? %>
                <p class="btn-info font-weight-bold mb-0">受付中</p>
              <% else %>
                <p class="btn-danger font-weight-bold mb-0">解決済み</p>
              <% end %>
          　　<p class="mb-0">回答<br><%= question.answers.count %></p>
        　　　</div>
        　　<div class="col-md-9 mt-1 text-left">
              <p>
                <%= link_to question_path(question) , class:"link-text" do %>
                <%= question.title %>
                <% end %>
              </p>
              <p>タグ: <%= question.tags.count %></p>
              <div class="d-flex">
                <p><%= question.question_likes.count %> 評価 | <%= question.impressionist_count(:filter=>:session_hash) %> PV</p>
                <p class="ml-auto mb-0"><%= attachment_image_tag question.member, :image, size:"30x30", class:"rounded", fallback:"no_image_icon.jpg"%> <%= question.member.name %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="tab-pane fade bg-light" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <div class="ml-1 pt-3 pb-2">全投稿数: <%= @member.answers.count %>件</div>
        <% @member.answers.each do |answer| %>
          <div class="d-flex border rounded mt-3 ml-3 mr-3 mb-3 pt-1 bg-white ">
              <div class="col-md-2 mt-2 text-center">
                <% if answer.question.best_answer_id.nil? %>
                  <p class="btn-info font-weight-bold mb-0">受付中</p>
                <% else %>
                  <p class="btn-danger font-weight-bold mb-0">解決済み</p>
                <% end %>
                <p class="mb-0">回答<br><%= answer.question.answers.count %></p>
              </div>
              <div class="col-md-9 mt-1 text-left">
                <p>
                  <%= link_to question_path(answer.question) , class:"link-text" do %>
                  <%= answer.question.title %>
                  <% end %>
                </p>
                <p>タグ: <%= answer.question.tags.count %></p>
                <div class="d-flex">
                  <p>評価:<%= answer.answer_likes.count %> | <%= answer.question.impressionist_count(:filter=>:session_hash) %> PV</p>
                  <p class="ml-auto mb-0"><%= attachment_image_tag answer.question.member, :image, size:"30x30", class:"rounded", fallback:"no_image_icon.jpg"%> <%= answer.question.member.name %></p>
                </div>
              </div>
           </div>
        <% end %>
      </div>
    </div>
  </div>
  <!--ここまで-->

</div>

