<div class="row">
  <div class="col-md-10 mt-5 mb-5 offset-md-1">
    <div>
      <p><%= attachment_image_tag @member, :image, size:"100x100", fallback:"no_image_icon.jpg"%></p>
      <p><%= @member.name %></p>
      <p>住居: <%= @member.country.name %></p>
      <p>経験留学先: <%= @member.experienced_country %></p>
      <% if current_member.id == @member.id %>
      <div class="btn btn-success">
        <%= link_to "プロフィール編集", edit_member_path(@member)%>
      </div>
      <% else %>
        <% if current_member.following?(@member) %>
          <div class="btn btn-danger">
            <%= link_to 'フォロー外す', unfollow_path(@member), method: :POST %>
          </div>
          <% else %>
          <div class="btn btn-primary">
            <%= link_to "フォローする", follow_path(@member), method: :post %>
          </div>
        <% end %>
      <% end %>
      <p>投稿数: <%= @member.questions.count %></p>
      <p>回答数: <%= @member.answers.count %></p>
      <p>ランキング:</p>
      <p>フォロー:
      <%= link_to connections_member_path, class:"link-text" do %>
      <%= @member.follower.count %>
      <% end %>
      </p>
      <p>フォロワー:
      <%= link_to connections_member_path, class:"link-text" do %>
      <%= @member.followed.count %>
      <% end %>
      </p>
      <p><%= @member.introduction %></p>
      <div>
      <%= link_to "退会する", members_withdraw_path, class:"btn btn-danger", method: :patch, data: { confirm: "本当に退会しますか？" } %>
    </div>
    </div>
  </div>
</div>

<!--投稿・回答-->
<div class="row mb-5">
  <div class="col-md-5 border offset-md-1">
    <h4 class="text-center">投稿履歴</h4>
    <% @member.questions.each do |question| %>
      <div class="d-flex border mx-auto mt-2">
      　<p>回答:<%= question.answers.count %></p>
        <p><%= link_to question_path(question) , class:"link-text" do%>
          <%= question.title %>
          <% end %>
        </p>
        <p>タグ: <%= question.tags.count %></p>
        <p>評価:<%= question.question_likes.count %></p>
        <p>PV:</p>
      </div>
    <% end %>
  </div>
  <div class="col-md-5 border offset-md-1">
    <h4 class="text-center">回答履歴</h4>
    <% @member.answers.each do |answer| %>
      <div class="d-flex border mx-auto mt-2">
      　<p>回答:<%= answer.responses.count %></p>
        <p><%= answer.question.title %></p>
        <p>タグ: <%= answer.question.tags.count %></p>
        <p>評価:<%= answer.answer_likes.count %></p>
        <p>PV:</p>
      </div>
    <% end %>
  </div>
</div>