<div class="row d-flex">
  <!--プロフィール詳細画面-->
  <div class="col-lg-3 col-md-3 col-sm-12 mt-5 mb-5 pb-3">
  <%= render 'layouts/flash' %>
  <div class="pl-4 pr-4 border rounded">
  <div>
    <%= link_to member_path(@member),class:"link-text","data-turbolinks": false do %>
    <p class="text-center pt-3 pb-3"><%= attachment_image_tag @member, :image, size:"100x100", fallback:"no_image_icon.jpg"%></p>
  </div>
  <div>
      <p class="text-center"><%= @member.name %></p>
      <% end %>
      <div class=" d-flex mb-3">
        <% unless @member.id == current_member.id %>
            <% if @is_room == true %>
              <%= link_to room_path(@room_id), class:"btn btn-primary btn-block mb-2 mr-1 mt-3 w-50",style:"font-size:4px;", "data-turbolinks": false do %>
               <i class="fas fa-comments">チャットする</i>
              <% end %>
            <% else %>
              <%= form_with model: @room, url: rooms_path, local: true do |f| %>
                <%= fields_for @entry do |e| %>
                  <%= e.hidden_field :member_id, value: @member.id %>
                  <%= f.button :type => "submit", class:"btn btn-primary mt-3 pb-1 w-100", style:"font-size:4px;" do%>
                  <i class="fas fa-comments">チャットする</i>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
        <% end %>
        <% if current_member.id == @member.id %>
            <%= link_to edit_member_path(@member), class:"btn btn-secondary w-100","data-turbolinks": false do%>
              <i class="fas fa-user-edit">プロフィール編集</i>
            <% end %>
        <% else %>
          <div id="follow-button_<%= @member.id %>" class="ml-1 w-50">
            <%= render "public/members/follow_button", member: @member %>
          </div>
        <% end %>
      </div>
      <div class="mt-3">
        <div class="text-center w-100">
          <p class="small border border-primary rounded">居住地</p>
          <h5><%= @member.country.name %></h5>
        </div>
      </div>
      <div class="mt-3">
        <div class="text-center w-100">
          <p class="small border border-primary rounded">経験留学先</p>
          <% if @member.experienced_country.empty? %>
            <div style="height:18px;"></div>
          <% else %>
            <h5><%= @member.experienced_country %></h5>
          <% end %>
        </div>
      </div>
      <div class="mt-3">
        <div class="text-center w-100">
          <p class="small border border-primary rounded">自己紹介</p>
          <h5><%= @member.introduction %></h5>
        </div>
      </div>
      <div class="d-flex mt-3">
        <div class="text-center w-100">
          <p class="small border border-primary rounded">高評価数</p>
          <h5><%= @total_likes %></h5>
        </div>
        <div class="text-center w-100 ml-2">
          <p class="small border border-primary rounded">ランキング</p>
          <h5><%= link_to "確認する", members_path, class:"btn btn-warning" , "data-turbolinks": false%></h5>
        </div>
      </div>
      <div class="d-flex mt-3">
        <div class="text-center w-100">
          <p class="small border border-primary rounded">フォロー</p></p>
          <div>
            <%= link_to connections_member_path(@member),class:"link-text", "data-turbolinks": false do %>
              <h5><%= @member.follower.count %></h5>
            <% end %>
          </div>
        </div>
        <div class="text-center w-100 ml-2">
          <p class="small border border-primary rounded">フォロワー</p>
          <div id="followed-count_<%= @member.id %>">
            <%= render "public/members/followed_count", member: @member %>
          </div>
        </div>
      </div>
      <div class="header-item mb-3 mt-3 w-100 btn btn-info"><%= link_to "フォロー・フォロワー一覧へ", connections_member_path, class:"small","data-turbolinks": false %></div>
    </div>
</div>
  <!--<= render "public/members/profile", member: @member, total_likes: @total_likes, room: @room, is_room: @is_room, entry: @entry %>-->
  </div>
  <!--ここまで-->

  <!--メンバー投稿・回答一覧-->
  <div class="col-lg-9 col-md-9 col-sm-12 mt-5 mb-5 pt-1 pb-2 border rounded">
    <div class="border rounded mb-4">
      <div class="nav-item text-center bg-light" style="width:100%;">
        <div class="font-weight-bold border rounded">グラフ<br>(質問 : 回答)</div>
      </div>
        <canvas id="myPieChart"></canvas>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
        <script>
        var ctx = document.getElementById("myPieChart");
        var myPieChart = new Chart(ctx, {
          type: 'doughnut',
          data: {
            labels: ["質問","回答"],
            datasets: [{
                backgroundColor: [
                    "#a8dba8",
                    "#4ea1d3",
                ],
                data: [ <%= @member.questions.count%>, <%= @member.answers.count%> ]
            }]
          },
          options: {
            title: {
              display: true,
              text: 'Q＆A 活動割合'
            }
          }
        });
        </script>
    </div>
    <div class="border rounded">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item text-center bg-light" style="width:50%;">
          <a class="nav-link link-text font-weight-bold text-center active" id="nav-q-tab" data-toggle="tab" href="#nav-q" role="tab" aria-controls="nav-q" aria-selected="false">
            <div>質問<br><%= @member.questions.count %></div>
          </a>
        </li>
        <li class="nav-item text-center bg-light" style="width:50%;">
          <a class="nav-link link-text font-weight-bold text-center" id="nav-a-tab" data-toggle="tab" href="#nav-a" role="tab" aria-controls="nav-a" aria-selected="false">
            <div>回答<br><%= @member.answers.count %></div>
          </a>
        </li>
      </ul>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade bg-light show active" id="nav-q" role="tabpanel" aria-labelledby="nav-q-tab">
          <div class="ml-1 pt-3 pb-2">質問数: <%= @member.questions.count %>件</div>
          <% @member.questions.each do |question| %>
            <div class="d-flex border rounded mt-1 bg-white ">
              <div class="col-md-2 col-sm-2 text-center pt-2">
                <% if question.best_answer_id.nil? %>
                  <p class="btn-info font-weight-bold mx-auto small">受付中</p>
                <% else %>
                  <p class="btn-danger font-weight-bold mx-auto small">解決済み</p>
                <% end %>
                <div class="border rounded pt-2">
                <h5><i class="fas fa-comment-dots"> <%= question.answers.count %></i></h5>
                </div>
            </div>
              <div class="col-md-10">
                <div class="row pt-2">
                  <%= link_to question_path(question), style:"color:#117ec6;", class:"link-text",'data-turbolinks': false do %>
                    <h2 class="font-weight-bold"><%= question.title %></h2>
                  <% end %>
                </div>
                <div class="row">
                  <% if question.tags.any? %>
                    <% question.tags.each do |tag| %>
                      <%= link_to tag_path(tag) do %>
                        <p class="btn btn-outline-primary ml-2", style="font-size:5px;"><%= tag.name %></p>
                      <% end %>
                    <% end %>
                  <% else %>
                    <div class="no-tag-box"></div>
                 <% end %>
                </div>
                <div class="row d-flex">
                  <div><i class="fas fa-thumbs-up"> <%=question.question_likes.count %></i></div>
                  <div class="ml-3"><i class="fas fa-eye"> <%= question.impressionist_count(:filter=>:session_hash) %></i></div>
                  <div class="ml-auto mb-0"><%= attachment_image_tag question.member, :image, size:"30x30", class:"rounded", fallback:"no_image_icon.jpg"%> <%= question.member.name %></div>
                  <p class="ml-3 mr-1 mt-2 text-right"><%= question.created_at.strftime('%Y/%m/%d') %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="tab-pane fade bg-light" id="nav-a" role="tabpanel" aria-labelledby="nav-a-tab">
          <div class="ml-1 pt-3 pb-2">回答数: <%= @member.answers.count %>件</div>
          <% @member.answers.each do |answer| %>
            <div class="d-flex border rounded mt-1 bg-white ">
              <div class="col-md-2 col-sm-2 text-center pt-2">
                  <% if answer.question.best_answer_id.nil? %>
                    <p class="btn-info font-weight-bold mx-auto small">受付中</p>
                <% else %>
                  <p class="btn-danger font-weight-bold mx-auto small">解決済み</p>
                <% end %>
                  <div class="border rounded pt-2">
                    <h5><i class="fas fa-comment-dots"> <%= answer.question.answers.count %></i></h5>
                  </div>
                </div>
                <div class="col-md-10">
                <div class="row pt-2">
                  <%= link_to question_path(answer.question), style:"color:#117ec6;", class:"link-text",'data-turbolinks': false do %>
                    <h2 class="font-weight-bold"><%= answer.question.title %></h2>
                  <% end %>
                </div>
                <div class="row">
                <% if answer.question.tags.any? %>
                    <% answer.question.tags.each do |tag| %>
                      <%= link_to tag_path(tag) do %>
                        <p class="btn btn-outline-primary ml-2", style="font-size:5px;"><%= tag.name %></p>
                      <% end %>
                    <% end %>
                  <% else %>
                    <div class="no-tag-box"></div>
                 <% end %>
                </div>
                  <div class="row d-flex">
                    <div><i class="fas fa-thumbs-up"> <%=answer.question.question_likes.count %></i></div>
                    <div class="ml-3"><i class="fas fa-eye"> <%= answer.question.impressionist_count(:filter=>:session_hash) %></i></div>
                    <p class="ml-auto mb-0"><%= attachment_image_tag answer.question.member, :image, size:"30x30", class:"rounded", fallback:"no_image_icon.jpg"%> <%= answer.question.member.name %></p>
                    <p class="ml-3 mt-2 text-right"><%= answer.question.created_at.strftime('%Y/%m/%d') %></p>
                  </div>
                </div>
             </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <!--ここまで-->
</div>


