<div class="row border-bottom">
  <div class="col-md-12 w-100 mt-2 mb-2">
      <span class="root-link"><%= link_to root_path,"data-turbolinks": false do %>トップ<% end %></span> > <span class="root-link"><%= link_to "#","data-turbolinks": false do %>タグ一覧<% end %></span>
  </div>
</div>
<h2 class="mt-5 font-weight-bold">タグ一覧</h2>
<p>タグ一覧タグ名をクリックすると、該当タグのQ＆A一覧に移動します。</p>
<div class="tag-list d-flex flex-wrap">
  <% @tags.each do |tag| %>
  <div class="tag-items col-md-2 col-sm-2 text-left border rounded mr-5 mb-2 mt-3 pt-3">
    <%= link_to tag_path(tag),"data-turbolinks": false do %>
      <h2 class="tag-title"><%= tag.name %></h2>
    <% end %>
    <p><%= tag.questions.count %>投稿</p>
  </div>
  <% end %>
  </div>
</div>