<div calss="row">
  <div class="col-md-10 offset-md-1 pb-5 pl-0 pr-0">
    <div class="pt-4 mb-3">
      <span><%= link_to root_path do %>トップ<% end %></span>
      >
      <span><%= link_to "#" do %><% end %></span>
    </div>
    <h2><%= @tag.name %> の関する投稿</h2>
    <p>投稿タイトルをクリックすると、投稿詳細に移動します。</p>
    <ul class="nav nav-tabs text-center" id="myTab" role="tablist">
      <li class="nav-item w-25 bg-light">
        <a class="nav-link active link-text" id="home-tab" data-toggle="tab" href="#all" role="tab" aria-controls="all" aria-selected="true">一覧(新着順)</a>
      </li>
      <li class="nav-item w-25 bg-light">
        <a class="nav-link link-text" id="home-tab" data-toggle="tab" href="#new" role="tab" aria-controls="home" aria-selected="true">未回答</a>
      </li>
      <li class="nav-item w-25 bg-light">
        <a class="nav-link link-text" id="profile-tab" data-toggle="tab" href="#unanswered" role="tab" aria-controls="profile" aria-selected="false">未解決</a>
      </li>
      <li class="nav-item w-25 bg-light">
        <a class="nav-link link-text" id="profile-tab" data-toggle="tab" href="#answered" role="tab" aria-controls="about" aria-selected="false">解決済</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="mb-5 pt-3 tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
        <% @tag.questions.each do |question| %>
          <div class="question-box pt-2 w-100 d-flex border rounded">
            <div class="col-2 col-md-2 col-sm-2 text-center ">
              <% if question.question_status == false %>
                <p class="btn-info font-weight-bold w-75 mx-auto">受付中</p>
              <% else %>
                <p class="btn-danger font-weight-bold w-75 mx-auto">解決済み</p>
              <% end %>
              <h4>回答<br /><%= question.answers.count %></h4>
            </div>
            <div class="col-md-8">
              <div class="row">
              <%= link_to question_path(question) do %>
                <h2><%= question.title %></h2>
              <% end %>
              </div>
              <div class="row">
              <% question.tags.each do |tag| %>
                <p class="btn btn-outline-primary ml-2", style="font-size:5px;"><%= tag.name %></p>
               <% end %>
              </div>
              <div class="row d-flex">
                <p>評価: <%= question.question_likes.count %></p>
                <%= link_to member_path(question.member_id), class:"link-text" do %>
                  <span><%= attachment_image_tag question.member, :image, size:"30x30", fallback:"no_image_icon.jpg"%> | <%= question.member.name %>
                <% end %>
                | <%= question.created_at.strftime('%Y/%m/%d') %>
                </span>
              </div>
            </div>
          </div>
      　<% end %>
    　</div>
      <div class="mb-5 pt-3 tab-pane fade" id="new" role="tabpanel" aria-labelledby="home-tab">
        <% @tag.questions.each do |question| %>
          <% unless question.answers.any? || question.question_status == true %>
            <div class="question-box pt-2 w-100 d-flex border rounded">
              <div class="col-2 col-md-2 col-sm-2 text-center ">
                <% if question.question_status == false %>
                  <p class="btn-info font-weight-bold w-75 mx-auto">受付中</p>
                <% else %>
                  <p class="btn-danger font-weight-bold w-75 mx-auto">解決済み</p>
                <% end %>
                <h4>回答<br /><%= question.answers.count %></h4>
              </div>
              <div class="col-md-8">
                <div class="row">
                <%= link_to question_path(question) do %>
                  <h2><%= question.title %></h2>
                <% end %>
                </div>
                <div class="row">
                <% question.tags.each do |tag| %>
                  <p class="btn btn-outline-primary", style="font-size:5px;"><%= tag.name %></p>
                 <% end %>
                </div>
                <div class="row d-flex">
                  <p>評価: <%= question.question_likes.count %></p>
                  <%= link_to member_path(question.member_id), class:"link-text" do %>
                    <span><%= attachment_image_tag question.member, :image, size:"30x30", fallback:"no_image_icon.jpg"%> | <%= question.member.name %>
                  <% end %>
                  | <%= question.created_at.strftime('%Y/%m/%d') %>
                  </span>
                </div>
              </div>
            </div>
          <% end %>
      　<% end %>
    　</div>
      <div class="mb-5 pt-3 tab-pane fade" id="unanswered" role="tabpanel" aria-labelledby="profile-tab">
        <% @tag.questions.each do |question| %>
          <% if question.answers.any? %>
            <div class="question-box pt-2 w-100 d-flex border rounded">
              <div class="col-2 col-md-2 col-sm-2 text-center ">
                <% if question.question_status == false %>
                  <p class="btn-info font-weight-bold w-75 mx-auto">受付中</p>
                <% else %>
                  <p class="btn-danger font-weight-bold w-75 mx-auto">解決済み</p>
                <% end %>
                <h4>回答<br /><%= question.answers.count %></h4>
              </div>
              <div class="col-md-8">
                <div class="row">
                <%= link_to question_path(question) do %>
                  <h2><%= question.title %></h2>
                <% end %>
                </div>
                <div class="row">
                <% question.tags.each do |tag| %>
                  <p class="btn btn-outline-primary", style="font-size:5px;"><%= tag.name %></p>
                 <% end %>
                </div>
                <div class="row d-flex">
                  <p>評価: <%= question.question_likes.count %></p>
                  <%= link_to member_path(question.member_id), class:"link-text" do %>
                    <span><%= attachment_image_tag question.member, :image, size:"30x30", fallback:"no_image_icon.jpg"%> | <%= question.member.name %>
                  <% end %>
                  | <%= question.created_at.strftime('%Y/%m/%d') %>
                  </span>
                </div>
              </div>
            </div>
          <% end %>
      　<% end %>
      </div>
      <div class="mb-5 tab-pane fade" id="answered" role="tabpanel" aria-labelledby="about-tab">
        <% @tag.questions.each do |question| %>
          <% if question.question_status == true %>
            <div class="question-box pt-2 w-100 d-flex border rounded">
              <div class="col-2 col-md-2 col-sm-2 text-center ">
                <% if question.question_status == false %>
                  <p class="btn-info font-weight-bold w-75 mx-auto">受付中</p>
                <% else %>
                  <p class="btn-danger font-weight-bold w-75 mx-auto">解決済み</p>
                <% end %>
                <h4>回答<br /><%= question.answers.count %></h4>
              </div>
              <div class="col-md-8">
                <div class="row">
                <%= link_to question_path(question) do %>
                  <h2><%= question.title %></h2>
                <% end %>
                </div>
                <div class="row">
                <% question.tags.each do |tag| %>
                  <p class="btn btn-outline-primary", style="font-size:5px;"><%= tag.name %></p>
                 <% end %>
                </div>
                <div class="row d-flex">
                  <p>評価: <%= question.question_likes.count %></p>
                  <%= link_to member_path(question.member_id), class:"link-text" do %>
                    <span><%= attachment_image_tag question.member, :image, size:"30x30", fallback:"no_image_icon.jpg"%> | <%= question.member.name %>
                  <% end %>
                  | <%= question.created_at.strftime('%Y/%m/%d') %>
                  </span>
                </div>
              </div>
            </div>
          <% end %>
      　<% end %>
      </div>
  </div>
  </div>
</div>