<% visitor = notification.visitor %>
<% question = notification.question %>
<% answer = notification.answer %>

<div class="member-view clearfix mb-2 mt-3">
  <div class="pl-0 pr-0 d-flex bg-light border rounded pt-2 pb-2">
    <div class="col-lg-1 col-md-2 col-sm-2">
      <%= attachment_image_tag visitor, :image, size:"60x60", fallback:"no_image_icon.jpg", class:"rounded-circle" %>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-10 pl-5 pt-2">
      <div class="row">
        <span><%= notification_form(notification) %><span class="moderate-font"><%= "(#{time_ago_in_words(notification.created_at)}å‰)" %></span></span>
      </div>
      <div class="row pt-3">
        <% if !@answer.nil? %>
          <p class="moderate-font text-center"><%== @answer %></p>
        <% elsif !@response.nil? %>
          <p class="moderate-font text-center"><%= @response %></p>
        <% end %>
      </div>
  </div>
</div>