<nav class="navbar navbar-expand-lg navbar-light">
  <div class="col-md-10 d-flex offset-md-1">
    <% if admin_signed_in? %>
    <a class="navbar-brand" href="/admin", data-turbolinks="false"><%= image_tag "answer.ly_logo.png", class:"mt-1 ml-4",:size => "120x30", alt:"Answer.lyロゴ" %></a>
    <% else %>
    <a class="navbar-brand" href="/", data-turbolinks="false"><%= image_tag "answer.ly_logo.png", class:"mt-1 ml-4",:size => "120x30", alt:"Answer.lyロゴ" %></a>
    <% end %>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto mr-4">
        <div class="btn text-light">
          <li class="nav-item">
            <%= render 'public/searches/form', tag: @tag, question: @question %>
          </li>
        </div>
        <% unless admin_signed_in? %>
        <div class="header-item question-new btn btn-success mr-2">
          <li class="nav-item">
          <%= link_to new_question_path, 'data-turbolinks': false do %>
            <i class="fas fa-edit"> 質問する</i>
          <% end %>
          </li>
        </div>
        <% end %>
        <% if member_signed_in? %>
        <div class="header-item btn btn-lg mr-2">
          <li class="nav-item">
            <%= link_to member_path(current_member),"data-turbolinks": false do %>
              <%= attachment_image_tag current_member, :image, size:"25x25", fallback:"no_image_icon.jpg", class:"mr-1" %><%= current_member.name %></i>
            <% end %>
          </li>
        </div>
        <div class="header-item btn btn-lg mr-2">
          <li class="nav-item">
            <%= link_to destroy_member_session_path, method: :delete do %>
              <i class="fas fa-sign-out-alt"> ログアウト</i>
            <% end %>
          </li>
        </div>
        <% elsif admin_signed_in? %>
        <div class="row">
          <div class="header-item btn btn-lg mr-2">
            <li class="nav-item">
              <%= link_to admin_contacts_path do %>
                <span>問い合わせ</span>
                <span class="text-center"><%= @contacts.count %></span>
              <% end %>
            </li>
          </div>
          <div class="header-item btn btn-lg mr-2">
            <li class="nav-item">
              <%= link_to admin_members_path do %>
                <span>ユーザー数</span>
                <span class="text-center"><%= @members.count %></span>
              <% end %>
            </li>
          </div>
          <div class="header-item btn btn-lg mr-2">
            <li class="nav-item">
              <%= link_to admin_path do %>
                <span>質問投稿数</span>
                <span class="text-center"><%= @questions.count%></span>
              <% end %>
            </li>
          </div>
          <div class="header-item btn btn-lg mr-2">
            <li class="nav-item">
              <%= link_to admin_tags_path do %>
                <span>タグ数</span>
                <span class="text-center"><%= @tags.count %></span>
              <% end %>
            </li>
          </div>
          <div class="header-item btn btn-lg mr-2">
            <li class="nav-item mr-5">
              <%= link_to destroy_admin_session_path, method: :delete do %>
                <i class="fas fa-sign-out-alt"> ログアウト</i>
              <% end %>
            </li>
          </div>
        <% else %>
          <div class="header-item btn btn-lg mr-2">
            <li class="nav-item">
              <%= link_to guest_sign_in_path, method: :post do %>
                <i class="fas fa-user-circle"> ゲストログイン</i>
              <% end %>
            </li>
          </div>
          <div class="header-item btn btn-lg mr-2">
            <li class="nav-item">
              <%= link_to new_member_session_path,"data-turbolinks": false do %>
                <i class="fas fa-sign-in-alt">ログイン</i>
              <% end %>
            </li>
        </div>
          <div class="header-item btn btn-lg mr-2">
            <li class="nav-item">
              <%= link_to new_member_registration_path do %>
                <i class="fas fa-user-plus"> 新規会員登録</i>
              <% end %>
            </li>
        </div>
        <% end %>
        </div>
      </ul>
    </div>
  </div>
</nav>