<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <% if admin_signed_in? %>
      <a class="navbar-brand" href="/admin", data-turbolinks="false"><%= image_tag "answer.ly_logo.png", class:"mt-1 ml-4",:size => "120x30", alt:"Answer.lyロゴ" %></a>
    <% else %>
      <a class="navbar-brand" href="/", data-turbolinks="false"><%= image_tag "answer.ly_logo.png", class:"mt-1 ml-4",:size => "120x30", alt:"Answer.lyロゴ" %></a>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        
        <!--共通ヘッダー-->
        <div class="btn text-light">
          <li class="nav-item mt-1">
            <%= render 'public/searches/form', tag: @tag, question: @question %>
          </li>
        </div>
        <!---->
        
        <% if admin_signed_in? %>
          <%= render 'layouts/admin_header', members: @members, questions: @questions, contacts: @contacts, tags: @tags%>

        <% elsif member_signed_in? %>
         <%= render 'layouts/member_header'%>

        <% else %>
        <div class="header-item question-new btn btn-success mt-2 mr-2">
          <li class="nav-item">
            <%= link_to new_question_path, 'data-turbolinks': false do %>
              <i class="fas fa-edit"> 質問する</i>
            <% end %>
          </li>
        </div>
        <div class="header-item btn mt-2 mr-1">
        <li class="nav-item">
          <%= link_to guest_sign_in_path, method: :post do %>
            <i class="fas fa-user-circle"> ゲストログイン</i>
          <% end %>
        </li>
      </div>
        <div class="header-item btn mt-2 mr-1">
          <li class="nav-item">
            <%= link_to new_member_session_path,"data-turbolinks": false do %>
              <i class="fas fa-sign-in-alt">ログイン</i>
            <% end %>
          </li>
        </div>
        <div class="header-item btn mt-2 mr-1">
          <li class="nav-item">
            <%= link_to new_member_registration_path do %>
              <i class="fas fa-user-plus"> 新規会員登録</i>
            <% end %>
          </li>
        </div>
        <% end%>
      </ul>
    </div>
  </div>
</nav>