<!DOCTYPE html>
<html>
  <head>
    <title>Answerly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
  </head>

  <body>
    <header>
      <%= render "layouts/header" %>
    </header>
    <main>
      <div class="container">
        <div class="col-md-12 mt-3">
          <% flash.each do |key, value| %>
            <p class="alert alert-<%= key %>">
              <%= sanitize value, tags: %w(br) %>
            </p>
          <% end %>
        </div>
        <%= yield %>
      </div>
    </main>
      <p id="pageTop"><a href="", {"data-turbolinks"= "false"}><i class="fa fa-chevron-up"></i></a></p>
    <footer>
      <%= render "layouts/footer" %>
    </footer>
  </body>
</html>
